/* Author : ART4VETS */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

selector { cursor: none; }

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: whitesmoke; */
}

canvas{
    position: fixed;
}

#base-cavnas{
    z-index: 1;
}
#book{
    z-index: 2;
}
#filter{
    z-index: 3;
}
#skeleton{
    z-index: 4;
}
#book-background{
    z-index: 5;
}